@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 25%;
    --foreground: 0 0% 98%;
    --card: 240 5% 25%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 25%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 207 90% 68%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 231 48% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 5% 25%;
    --foreground: 0 0% 98%;
    --card: 240 5% 25%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 25%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 207 90% 68%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 231 48% 54%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: monospace;
  }
}
